body {
  text-align: center;
  font-family: Arial;
  background-color: black;
  color: white;
}
h1{
  color: red;
  font-size: 40px;
}
h2 {
  color: #ffffff;
    font-size: 25px;
}
li {
  color: white;
  font-size: 18px;
}
p {
  text-align: left;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 5px;
}
h1, h2, p, ul {
  margin-bottom: 20px;
}