body {
  background-color: #2b2b2b;
  margin: 10px;
  padding: 0;
}
h1 {
  color: white;
  font-size: 40px;
}
h2 {
  color: white;
  font-size: 25px;
}
p {
  color: lightgreen;
  font-size:18px;
  line-height: 1.6;
}
li {
  color: lightblue;
  font-size: 18px
}
ul {
  list-style: none;
  padding: 0;
}
h1, h2, p, ul {
  margin-bottom: 20px;
}
li {
  background-color: #3a3a3a;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
}